# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.log
db.sqlite3
# Docker
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Coverage
.coverage
htmlcov/

# PyCharm
.idea/
.env
ПРОСТО_СЕЛЛАЙ_ЭТО.txt
